modules = ["python-3.11"]
[nix]
channel = "stable-24_05"
packages = ["xcodebuild", "zlib"]

[workflows]
runButton = "Run Crawler"

[[workflows.workflow]]
name = "Run Crawler"
author = 4300779
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 run_crawler.py"
